<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Articles</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>addArticle</servlet-name>
    <servlet-class>com.ij34.service.addArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addArticle</servlet-name>
    <url-pattern>/addArticle</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>deleteArticle</servlet-name>
    <servlet-class>com.ij34.service.deleteArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteArticle</servlet-name>
    <url-pattern>/deleteArticle</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>showArticle</servlet-name>
    <servlet-class>com.ij34.service.showArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showArticle</servlet-name>
    <url-pattern>/showArticle</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>updateArticle</servlet-name>
    <servlet-class>com.ij34.service.updateArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateArticle</servlet-name>
    <url-pattern>/updateArticle</url-pattern>
  </servlet-mapping>
</web-app>